.info-wrap{
  border-radius: 20px;
  height: auto;
  margin: 10px auto 40px;
  width: 80%;
  background-color: #2f3e49;
  box-sizing: border-box;
  padding: 15px 0;
}
.info-content{
  position: relative;
  height: 100%;
  width: 75%;
  box-sizing: border-box;
  margin: 0 auto;

}
.info-title{
  font-size: 1.1em;
  color: #e4e3de;
  width: 80%;
  margin: 15px auto;
  font-weight: 500;
}
.info-text{
  font-size: .9em;
  color: #e4e3de;
  white-space: pre-line;
  width: 100%;
  margin: 15px auto;
  font-weight: 500;
  padding: 10px;
  padding-left: 20px;
  box-sizing: border-box;
}
.info-link{
  font-size: .8em;
  text-decoration: none;
  color: #e4e3de;
  width: 60%;
  margin: 15px auto;
  display: flex;
  font-size: .9em;
  font-weight: 500;

}

@media screen and (max-width: 767px){
  .info-wrap{
    background-color: #2f3e49;
    width: 85%;
  }
  .info-content{
    width: 100%;
  }
  .info-title{
    width: 90%;
    margin: 10px auto;
    box-sizing: border-box;
    padding-left: 10px;
  }
  .info-link{
    width: 90%;
    margin: 10px auto;
    box-sizing: border-box;
    padding-left: 10px;
    background-color: #2f3e49;
  }
  .info-text{
    font-size: .9em;
    color: #e4e3de;
    max-height: 100px;
    overflow: hidden;
    width: 100%;
    margin: 15px auto;
    font-weight: 500;
    padding: 10px 20px 10px 30px;
    box-sizing: border-box;
  }
  .info-seeMore{
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 1;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0) 40%, rgba(21,21,21,0.8) 100%);

    margin: 0 auto;
  }
  .info-seeMore-text{
    display: flex;
    color: #e4e3de;
    margin: 10px;
    width: auto;
    align-items: end;
  }
  .info-seeLess{
    font-size: .9em;
  }
}
