@media screen and (min-width: 768px){
  .weekDays-bar{
  height: 40px;
  width: fit-content;
  display: grid;
  margin: auto;
  grid-template-columns: repeat(4745, 40px);
  justify-content: space-evenly;
  background-color: #e4e3de;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  }
  .week-day{
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
  }
  .weekDay-background{
    width: 200000px;
    display: flex;
    height: 40px;
  }
}
@media screen and (max-width: 767px){
  .weekDay-background{
    width: 100%;
    height: 40px;
    background-color: #082032;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 2;
  }
  .weekDays-bar{
    height: 40px;
    width: fit-content;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(7, 40px);
    justify-content: space-evenly;
    background-color: #e4e3de;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 2;
  }
  .week-day{
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
  }
}